{% extends 'mailing_service/base.html' %}
{% load static %}
{% block content %}
<h1>Удаление сообщения {{ message.subject }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-header">
        <p class="card-text">Действительно хотите удалить сообщение: </p>
        <p class="card-text">{{ message.subject }}</p>
        <p class="card-text">{{ message.body }}</p>
    </div>
    <div class="card-body">
        <button type="submit" class="btn btn-danger mt-3">Удалить</button>
        <a class="btn btn-primary mt-3" href="{% url 'mailing_service:message_list' %}">Назад</a>
    </div>
</form>
    {% endblock %}